@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(0.9833 0.0102 81.7953);
    --foreground: oklch(0.2720 0.0472 79.8558);
    --card: oklch(0.9918 0.0045 78.2985);
    --card-foreground: oklch(0.2720 0.0472 79.8558);
    --popover: oklch(0.9918 0.0045 78.2985);
    --popover-foreground: oklch(0.2720 0.0472 79.8558);
    --primary: oklch(0.5222 0.1347 45.7749);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.7779 0.1605 74.5314);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.9532 0.0289 72.4774);
    --muted-foreground: oklch(0.4292 0.0167 67.3571);
    --accent: oklch(0.7753 0.1014 61.5277);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.5101 0.1620 25.7638);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.8980 0.0648 82.1488);
    --input: oklch(0.8980 0.0648 82.1488);
    --ring: oklch(0.5222 0.1347 45.7749);
    --chart-1: oklch(0.2180 0.0837 270.8066);
    --chart-2: oklch(0.4311 0.0488 181.9562);
    --chart-3: oklch(0.8297 0.1604 88.3351);
    --chart-4: oklch(0.6814 0.1513 62.4285);
    --chart-5: oklch(0.4567 0.1164 34.4276);
    --sidebar: oklch(0.9441 0.0346 82.9117);
    --sidebar-foreground: oklch(0.2720 0.0472 79.8558);
    --sidebar-primary: oklch(0.5222 0.1347 45.7749);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.7753 0.1014 61.5277);
    --sidebar-accent-foreground: oklch(0 0 0);
    --sidebar-border: oklch(0.8980 0.0648 82.1488);
    --sidebar-ring: oklch(0.5222 0.1347 45.7749);
    --font-sans: Poppins, sans-serif;
    --font-serif: Libre Baskerville, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 0.2rem;
    --shadow-x: 1px;
    --shadow-y: 1px;
    --shadow-blur: 12px;
    --shadow-spread: -2px;
    --shadow-opacity: 0.5;
    --shadow-color: #692C1D;
    --shadow-2xs: 1px 1px 12px -2px hsl(11.8421 56.7164% 26.2745% / 0.25);
    --shadow-xs: 1px 1px 12px -2px hsl(11.8421 56.7164% 26.2745% / 0.25);
    --shadow-sm: 1px 1px 12px -2px hsl(11.8421 56.7164% 26.2745% / 0.50), 1px 1px 2px -3px hsl(11.8421 56.7164% 26.2745% / 0.50);
    --shadow: 1px 1px 12px -2px hsl(11.8421 56.7164% 26.2745% / 0.50), 1px 1px 2px -3px hsl(11.8421 56.7164% 26.2745% / 0.50);
    --shadow-md: 1px 1px 12px -2px hsl(11.8421 56.7164% 26.2745% / 0.50), 1px 2px 4px -3px hsl(11.8421 56.7164% 26.2745% / 0.50);
    --shadow-lg: 1px 1px 12px -2px hsl(11.8421 56.7164% 26.2745% / 0.50), 1px 4px 6px -3px hsl(11.8421 56.7164% 26.2745% / 0.50);
    --shadow-xl: 1px 1px 12px -2px hsl(11.8421 56.7164% 26.2745% / 0.50), 1px 8px 10px -3px hsl(11.8421 56.7164% 26.2745% / 0.50);
    --shadow-2xl: 1px 1px 12px -2px hsl(11.8421 56.7164% 26.2745% / 1.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.1869 0.0290 85.0693);
    --foreground: oklch(0.9688 0.0200 84.5899);
    --card: oklch(0.2304 0.0382 81.5678);
    --card-foreground: oklch(0.9688 0.0200 84.5899);
    --popover: oklch(0.2304 0.0382 81.5678);
    --popover-foreground: oklch(0.9688 0.0200 84.5899);
    --primary: oklch(0.3757 0.0915 35.0275);
    --primary-foreground: oklch(0.9688 0.0200 84.5899);
    --secondary: oklch(0.6048 0.1328 63.1152);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.2420 0.0467 68.4873);
    --muted-foreground: oklch(0.8687 0.0043 56.3660);
    --accent: oklch(0.7427 0.1143 60.7141);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.5101 0.1620 25.7638);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.2667 0.0457 80.8446);
    --input: oklch(0.1826 0.0278 83.7287);
    --ring: oklch(0.5222 0.1347 45.7749);
    --chart-1: oklch(0.5375 0.1400 34.0791);
    --chart-2: oklch(0.6814 0.1513 62.4285);
    --chart-3: oklch(0.8297 0.1604 88.3351);
    --chart-4: oklch(0.5466 0.0641 181.5687);
    --chart-5: oklch(0.3099 0.1352 269.6181);
    --sidebar: oklch(0.2413 0.0414 79.2181);
    --sidebar-foreground: oklch(0.9688 0.0200 84.5899);
    --sidebar-primary: oklch(0.3757 0.0915 35.0275);
    --sidebar-primary-foreground: oklch(0.9688 0.0200 84.5899);
    --sidebar-accent: oklch(0.7427 0.1143 60.7141);
    --sidebar-accent-foreground: oklch(0 0 0);
    --sidebar-border: oklch(0.2667 0.0457 80.8446);
    --sidebar-ring: oklch(0.5222 0.1347 45.7749);
    --font-sans: Poppins, sans-serif;
    --font-serif: Libre Baskerville, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 0.2rem;
    --shadow-x: 1px;
    --shadow-y: 1px;
    --shadow-blur: 12px;
    --shadow-spread: -2px;
    --shadow-opacity: 0.5;
    --shadow-color: #692C1D;
    --shadow-2xs: 1px 1px 12px -2px hsl(11.8421 56.7164% 26.2745% / 0.25);
    --shadow-xs: 1px 1px 12px -2px hsl(11.8421 56.7164% 26.2745% / 0.25);
    --shadow-sm: 1px 1px 12px -2px hsl(11.8421 56.7164% 26.2745% / 0.50), 1px 1px 2px -3px hsl(11.8421 56.7164% 26.2745% / 0.50);
    --shadow: 1px 1px 12px -2px hsl(11.8421 56.7164% 26.2745% / 0.50), 1px 1px 2px -3px hsl(11.8421 56.7164% 26.2745% / 0.50);
    --shadow-md: 1px 1px 12px -2px hsl(11.8421 56.7164% 26.2745% / 0.50), 1px 2px 4px -3px hsl(11.8421 56.7164% 26.2745% / 0.50);
    --shadow-lg: 1px 1px 12px -2px hsl(11.8421 56.7164% 26.2745% / 0.50), 1px 4px 6px -3px hsl(11.8421 56.7164% 26.2745% / 0.50);
    --shadow-xl: 1px 1px 12px -2px hsl(11.8421 56.7164% 26.2745% / 0.50), 1px 8px 10px -3px hsl(11.8421 56.7164% 26.2745% / 0.50);
    --shadow-2xl: 1px 1px 12px -2px hsl(11.8421 56.7164% 26.2745% / 1.25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
