name: Build UI

on:
  pull_request:
    paths:
      - "ui/**"
      - ".github/workflows/ui.yaml"
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: ui/package-lock.json
      - name: Install dependencies
        run: npm ci
        working-directory: ui
      - name: Run linter
        run: npm run lint
        working-directory: ui
      - name: Build the app
        run: npm run build
        working-directory: ui
